<div class="jumbotron">
  <center>
    <h1>Welcome to Launchpad's Pet</h1>
    <img src="http://www.fondosanimales.com/800x600/cachorros-de-perros-labradores.jpg" alt="launchpad's pet">
    <br>
    <%= link_to "Check out our Pets", pets_path, class: "btn btn-default" %>
  </center>  
</div>